<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
  </header>
  {{! log item}}
  {{! log data}}
  <section class="sheet-body">
    <div class="form-group">
      <label class="label-text"><b>{{localize "RMU.armor.type"}}</b></label>
    </div>
    <div class="form-group">
      <label class="label-text">{{localize "RMU.itemCommon.cost"}}</label>
      <input  class="attribute-value"  type="text"  name="system.cost"  value="{{systemData.cost}}"  data-dtype="Number"  />
    </div>
    <div class="form-group">
      <label class="label-text">{{localize "RMU.itemCommon.quantity"}}</label>
      <input  class="attribute-value"  type="text"  name="system.quantity"  value="{{systemData.quantity}}"  data-dtype="Number"  />
    </div>
    <div class="form-group">
      <label class="label-text">{{localize "RMU.itemCommon.weight"}}</label>
      <input  class="attribute-value"  type="text"  name="system.weight"  value="{{systemData.weight}}"  data-dtype="Number"  />
    </div>
    <div class="form-group">
      <label class="label-text">{{localize "RMU.itemCommon.minStrength"}}</label>
      <input  class="attribute-value"  type="text"  name="system.minStrength"  value="{{systemData.minStrength}}"  data-dtype="Number"  />
    </div>
    <div class="form-group">
      <label class="label-text">{{localize "RMU.itemCommon.prodTimes"}}</label>
      <input  class="attribute-value"  type="text"  name="system.prodTimes"  value="{{systemData.prodTimes}}"  data-dtype="Number"  />
    </div>
    <div class="form-group">
      <label class="label-text">{{localize "RMU.armor.at"}}</label>
      <input  class="attribute-value"  type="text"  name="system.at"  value="{{systemData.at}}"  data-dtype="Number"  />
    </div>
    <div class="form-group">
      <label class="label-text">{{localize "RMU.armor.encumbrance"}}</label>
      <input  class="attribute-value"  type="text"  name="system.encumbrance"  value="{{systemData.encumbrance}}"  data-dtype="Number"  />
    </div>
    <div class="form-group">
      <label class="label-text">{{localize "RMU.armor.malusManeuver"}}</label>
      <input  class="attribute-value"  type="text"  name="system.malusManeuver"  value="{{systemData.malusManeuver}}"  data-dtype="Number"  />
    </div>
    <div class="form-group">
      <label class="label-text">{{localize "RMU.armor.malusRanged"}}</label>
      <input  class="attribute-value"  type="text"  name="system.malusRanged"  value="{{systemData.malusRanged}}"  data-dtype="Number"  />
    </div>
    <div class="form-group">
      <label class="label-text">{{localize "RMU.armor.malusPerception"}}</label>
      <input  class="attribute-value"  type="text"  name="system.malusPerception"  value="{{systemData.malusPerception}}"  data-dtype="Number"  />
    </div>
    <div class="form-group">
      <label class="label-text">{{localize "RMU.armor.skill"}}</label>
      <input  class="attribute-value"  type="text"  name="system.skill"  value="{{systemData.skill}}"  data-dtype="Number"  />
    </div>
    <label class="label-text">{{localize "RMU.itemCommon.description"}}</label>
    <textarea name="system.description">{{systemData.description}}</textarea>
    <label class="label-text">{{localize "RMU.itemCommon.notes"}}</label>
    <textarea name="system.notes">{{systemData.notes}}</textarea>
  </section>
</form>