<form class="actor-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}" />
    </h1>
  </header>
  <div>&nbsp;</div>
  <div class="sheet-body">
    <div class="flexrowcenter">
      <div>
        <div class="rmu-table-caption" style="min-width:480px;width:480px;height:19px;min-height:19px;max-height:19px;">
          Statistics</div>
        <div class="rmu-table">
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Stats</div>
            <div class="rmu-table-head cellx1">Potent.</div>
            <div class="rmu-table-head cellx1">Temp</div>
            <div class="rmu-table-head cellx1">Bonus</div>
            <div class="rmu-table-head cellx1">Racial</div>
            <div class="rmu-table-head cellx1">Special</div>
            <div class="rmu-table-head cellx1">Total</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Agility (Ag)</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Constitution (Co)</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Empathy (Em)</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Intuition (In)</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Memory (Me)</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Presence (Pr)</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Quickness (Qu)</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Reasoning (Re)</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Self Discip. (SD)</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Strength (St)</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2" style="background-color:gray;">&nbsp;</div>
            <div class="rmu-table-cell cellx1" style="background-color:gray;">&nbsp;</div>
            <div class="rmu-table-cell cellx1" style="background-color:gray;">&nbsp;</div>
            <div class="rmu-table-cell cellx1" style="background-color:gray;">&nbsp;</div>
            <div class="rmu-table-cell cellx1" style="background-color:gray;">&nbsp;</div>
            <div class="rmu-table-cell cellx1" style="background-color:gray;">&nbsp;</div>
            <div class="rmu-table-cell cellx1" style="background-color:gray;">&nbsp;</div>
          </div>
        </div> <!-- table -->
      </div> <!-- block01 -->
      <div>
        <div class="rmu-table">
          <div class="rmu-table-row">
            <div class="rmu-table-caption cellx2">Level</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-caption cellx2">Current XP</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-caption cellx2">XP for next level</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-caption cellx2">Race</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-caption cellx2">Culture</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-caption cellx2">Profession</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-cell cellx2" style="background-color:gray;">&nbsp;</div>
          </div>
        </div> <!-- table -->
      </div> <!-- block02 -->
      <div>
        <div class="rmu-table-caption" style="min-width:180;width:180px;height:19px;min-height:19px;max-height:19px;">
          Feats of Strength</div>
        <div class="rmu-table">
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Routine +30</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Easy +20</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Light +10</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Medium +0</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Hard -10</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Very Hard -20</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Ext. Hard -30</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Sheer Folly -50</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Absurd -70</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Nigh Imp. -100</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2" style="background-color:gray;">&nbsp;</div>
            <div class="rmu-table-cell cellx1" style="background-color:gray;">&nbsp;</div>
          </div>
        </div> <!-- table -->
        <div class="rmu-table-captionwhite"
          style="min-width:180;width:180px;height:19px;min-height:19px;max-height:19px;">
          Size:
        </div>
      </div> <!-- block03 -->

      <div>
        <div class="rmu-table-caption" style="min-width:300;width:300px;height:19px;min-height:19px;max-height:19px;">
          Encumbrance</div>
        <div class="rmu-table">
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx3">Wt Allowance (%)</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx3">Carried (lbs)</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx3">Encumbrance Penalty</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx3">Maximum Pace</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx3">Total Maneuver Penalty</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
        </div> <!-- table -->
        <div class="rmu-table-caption" style="min-width:300;width:300px;height:19px;min-height:19px;max-height:19px;">
          Quick Info</div>
        <div class="rmu-table">
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx3">Base Move Rate (BMR)</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx3">Initiative</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx3">Hit points</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx3">Endurance (Fatig)</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx3">Power</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2" style="background-color:gray;">&nbsp;</div>
            <div class="rmu-table-cell cellx2" style="background-color:gray;">&nbsp;</div>
          </div>
        </div> <!-- table -->
      </div> <!-- block04 -->
      {{!--
    </div> <!-- flexrow -->
    <div class="flexrow"> --}}
      <div>
        <div class="rmu-table">
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx1" style="background-color:black;color:white;">Pace</div>
            <div class="rmu-table-head cellx2" style="background-color:black;color:white;">Per Round</div>
            <div class="rmu-table-head cellx1" style="background-color:black;color:white;">P/Phase</div>
            <div class="rmu-table-head cellx2" style="background-color:black;color:white;">Penalty/AP</div>
            <div class="rmu-table-head cellx1" style="background-color:black;color:white;">Load</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx1">Creep</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx2">xx</div>
            <div class="rmu-table-cell cellx1">xx</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx1">Walk</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx2">-25 or 1 AP</div>
            <div class="rmu-table-cell cellx1">90%</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Jog</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx2">-50 or 2 AP</div>
            <div class="rmu-table-cell cellx1">60%</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx1">run</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx2">-75 or 3 AP</div>
            <div class="rmu-table-cell cellx1">45%</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx1">Sprint</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx2">4 AP</div>
            <div class="rmu-table-cell cellx1">30%</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx1">Dash</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
            <div class="rmu-table-cell cellx1">&nbsp;</div>
            <div class="rmu-table-cell cellx2">+4 AP</div>
            <div class="rmu-table-cell cellx1">15%</div>
          </div>
        </div> <!-- table -->
        <div class="rmu-table-caption" style="min-width:480;width:480px;height:19px;min-height:19px;max-height:19px;">
          Quick Info</div>
        <div class="rmu-table">
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Quickness DB</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
            <div class="rmu-table-cell cellx2">Other DB</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Passive Dodge</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
            <div class="rmu-table-cell cellx2">Passive Block</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Partial Dodge(C)</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
            <div class="rmu-table-cell cellx2">Partial Block(C)</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Full Dodge(4 AP)</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
            <div class="rmu-table-cell cellx2">Full Block(4 AP)</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
          <div class="rmu-table-row">
            <div class="rmu-table-head cellx2">Total w/o shield</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
            <div class="rmu-table-cell cellx2">Total w/shield</div>
            <div class="rmu-table-cell cellx2">&nbsp;</div>
          </div>
        </div> <!-- table -->
      </div>

    </div>
  </div> <!-- sheet-body -->
</form>