<form class="actor-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}" />
    </h1>
  </header>
  <div>&nbsp;</div>
  <div class="sheet-body">
    <div class="rmu-table-caption">Statistics</div>
    <div class="rmu-table">
      <div class="rmu-table-row">
        <div class="rmu-table-headx2">Stats</div>
        <div class="rmu-table-head">Potent.</div>
        <div class="rmu-table-head">Temp</div>
        <div class="rmu-table-head">Bonus</div>
        <div class="rmu-table-head">Racial</div>
        <div class="rmu-table-head">Special</div>
        <div class="rmu-table-head">Total</div>
      </div>
      <div class="rmu-table-row">
        <div class="rmu-table-head">Agility (Ag)</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
      </div>
      <div class="rmu-table-row">
        <div class="rmu-table-head">Constitution (Co)</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
      </div>
      <div class="rmu-table-row">
        <div class="rmu-table-head">Empathy (Em)</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
      </div>
      <div class="rmu-table-row">
        <div class="rmu-table-head">Intuition (In)</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
      </div>
      <div class="rmu-table-row">
        <div class="rmu-table-head">Memory (Me)</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
      </div>
      <div class="rmu-table-row">
        <div class="rmu-table-head">Presence (Pr)</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
      </div>
      <div class="rmu-table-row">
        <div class="rmu-table-head">Quickness (Qu)</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
      </div>
      <div class="rmu-table-row">
        <div class="rmu-table-head">Reasoning (Re)</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
      </div>
      <div class="rmu-table-row">
        <div class="rmu-table-head">Self Discip. (SD)</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
      </div>
      <div class="rmu-table-row">
        <div class="rmu-table-head">Strength (St)</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
        <div class="rmu-table-cell">&nbsp;</div>
      </div>
    </div> <!-- table -->
  </div> <!-- sheet-body -->
</form>